@model Project

@{
    ViewData["Title"] = "Project";
    User CurrentUser = ViewBag.CurrentUser;
}

<h2>@Model.ProjectName</h2>

@if (CurrentUser.UserId == Model.Shepherd.UserId)
{
    <form action="/Project/@Model.ProjectId/delete" method="post">
        <button>Delete</button>
    </form>
    <a href="/Project/@Model.ProjectId/edit">
        <button>Edit</button>
    </a>
}
@if (Model.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
{
    <form action="/Project/@Model.ProjectId/leave" method="post">
        <button>Leave</button>
    </form>
}
else
{
    <form action="/Project/@Model.ProjectId/join" method="post">
        <button>Join</button>
    </form>
}

<h3>Manager:</h3> <p>@Model.Shepherd.FirstName</p>

<h3>Team Members:</h3>
@if (Model.Shepherd.UserId == CurrentUser.UserId)
{
    <form asp-action="AddMember" asp-controller="Project">
        <input type="text" placeholder="User Email" asp-for="UserId">
        <button>Add</button>
    </form>
}
@foreach (var item in Model.TeamMembers)
{
    <p>@item.User.FirstName</p>
}

<h3>Description:</h3>
<p>@Model.ProjectDescription</p>

<h3>Tickets:</h3>
<a href="/Project/@Model.ProjectId/ticket/new"><button>Add Ticket</button></a>
@foreach (var item in Model.Tickets)
{
    <p><a href="/ticket/@item.TicketId">@item.TicketTitle</a></p>
}