@model Ticket
@{
    ViewData["Title"] = "Ticket";
    User CurrentUser = ViewBag.CurrentUser;
}

<h2>@Model.TicketTitle</h2>

@if (CurrentUser.UserId == Model.Submitter.UserId)
{
    <form action="/ticket/@Model.TicketId/delete" method="post">
        <button>Delete</button>
    </form>
    <a href="/ticket/@Model.TicketId/edit">
        <button>Edit</button>
    </a>
}
@if (Model.GroupMembers.Any(u => u.UserId == CurrentUser.UserId))
{
    <form action="/ticket/@Model.TicketId/leave" method="post">
        <button>Leave</button>
    </form>
}
else
{
    <form action="/ticket/@Model.TicketId/join" method="post">
        <button>Join</button>
    </form>
}

<h3>@Model.TicketType</h3>

<h3>@Model.TicketPriority</h3>

<h3>@Model.TicketStatus</h3>

<h3>Submitter:</h3> <p>@Model.Submitter.FirstName</p>

<h3>Users Assigned:</h3>
@foreach (var item in Model.GroupMembers)
{
    <p>@item.User.FirstName</p>
}

<h3>Description:</h3>
<p>@Model.TicketDescription</p>