@{
    ViewData["Title"] = "Dashboard";
    User CurrentUser = ViewBag.CurrentUser;
}

@model Note

<div class="dashboard-content">

    <h2 class="dashboard-greeting">Welcome @CurrentUser.FirstName</h2>

    <div class="note-content">
        <h4>Notes</h4>
        <div class="note-section">
            <ul>
                @foreach (Note item in ViewBag.AllUserNotes)
                {
                    @if (CurrentUser.UserId == item.NoteCreator.UserId)
                    {
                        <li>
                            <div class="note-options">
                                <p class="note-date">@item.CreatedAt.ToString("g")</p>
                                <div class="note-forms">
                                    <form action="">
                                        <button><i class="fa fa-pencil text-warning"></i></button>
                                    </form>
                                    <form action="note/@item.NoteId/delete" method="post">
                                        <button><i class="fa fa-eraser text-danger"></i></button>
                                    </form>
                                </div>
                            </div>
                            <p>@item.NoteMessage</p>
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="note-creation">
            <form action="/note/create" method="post">
                <textarea asp-for="NoteMessage" placeholder="Write a note for yourself"></textarea>
                <button><i class="fa fa-plus-square text-success"></i></button>
            </form>
        </div>
    </div>

    <div class="table-container">
        <div class="table-header">
            <h4>Managing</h4>
            <a class="pen-button" href="pen/new"><button>Add New Project</button></a>
            <button class="accordion">+</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th><h5>Project</h5></th>
                    <th><h5>Ticket Count</h5></th>
                    <th><h5>Team Member Count</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pen item in ViewBag.AllUserPens)
                {
                    @if (CurrentUser.UserId == item.Shepherd.UserId)
                    {
                        <tr>
                            <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                            <td data-th="Ticket Count" class="accordion-content">@item.Tickets.Count</td>
                            <td data-th="Team Member Count" class="accordion-content">@item.TeamMembers.Count</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <div class="table-header">
            <h4>Projects</h4>
            <button class="accordion2">+</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th><h5>Project</h5></th>
                    <th><h5>Ticket Count</h5></th>
                    <th><h5>Manager</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pen item in ViewBag.AllUserPens)
                {
                    @if (item.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
                    {
                        <tr>
                            <td data-th="Project"><a href="/pen/@item.PenId">@item.PenName</a></td>
                            <td data-th="Ticket Count" class="accordion-content2">@item.Tickets.Count</td>
                            <td data-th="Manager" class="accordion-content2">@item.Shepherd.FirstName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <div class="table-header">
            <h4>Assigned to Me</h4>
            <button class="accordion3">+</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th><h5>Title</h5></th>
                    <th><h5>Type</h5></th>
                    <th><h5>Priority</h5></th>
                    <th><h5>Project</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket item in ViewBag.AllUserTickets)
                {
                    @if (item.GroupMembers.Any(u => u.UserId == CurrentUser.UserId))
                    {
                        <tr>
                            <td data-th="Title"><a href="/ticket/@item.TicketId">@item.TicketTitle</a></td>
                            <td data-th="Type" class="accordion-content3">@item.TicketType</td>
                            <td data-th="Priority" class="accordion-content3">@item.TicketPriority</td>
                            <td data-th="Project" class="accordion-content3"><a href="/pen/@item.PenId">@item.HoldingPen.PenName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>