@{
    ViewData["Title"] = "Dashboard";
    User CurrentUser = ViewBag.CurrentUser;
}

@model Note

<h2>Welcome @CurrentUser.FirstName</h2>

<div class="dashboard-content">

    <div class="note-content">
        <h4>Notes</h4>
        <div class="note-section">
            <ul>
                @foreach (Note item in ViewBag.AllUserNotes)
                {
                    @if (CurrentUser.UserId == item.NoteCreator.UserId)
                    {
                        <li>@item.NoteMessage @item.CreatedAt</li>
                        <form action="note/@item/delete" method="post">
                            <button>Delete</button>
                        </form>
                    }
                }
            </ul>
        </div>

        <form action="/note/create" method="post">
            <textarea asp-for="NoteMessage" cols="40" rows="3" placeholder="Write a note for yourself"></textarea>
            <button>Save Note</button>
        </form>
    </div>

    <div class="table-container">
        <h4>Managing</h4>
        <a class="pen-button" href="pen/new"><button>Add New Project</button></a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h5>Project</h5></th>
                    <th scope="col"><h5>Ticket Count</h5></th>
                    <th scope="col"><h5>Team Member Count</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pen item in ViewBag.AllUserPens)
                {
                    @if (CurrentUser.UserId == item.Shepherd.UserId)
                    {
                        <tr>
                            <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                            <td>@item.Tickets.Count</td>
                            <td>@item.TeamMembers.Count</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h4>Projects</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h5>Project</h5></th>
                    <th scope="col"><h5>Ticket Count</h5></th>
                    <th scope="col"><h5>Manager</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pen item in ViewBag.AllUserPens)
                {
                    @if (item.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
                    {
                        <tr>
                            <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                            <td>@item.Tickets.Count</td>
                            <td>@item.Shepherd.FirstName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h4>Assigned to Me</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h5>Title</h5></th>
                    <th scope="col"><h5>Type</h5></th>
                    <th scope="col"><h5>Priority</h5></th>
                    <th scope="col"><h5>Project</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket item in ViewBag.AllUserTickets)
                {
                    @if (item.GroupMembers.Any(u => u.UserId == CurrentUser.UserId))
                    {
                        <tr>
                            <td><a href="/ticket/@item.TicketId">@item.TicketTitle</a></td>
                            <td>@item.TicketType</td>
                            <td>@item.TicketPriority</td>
                            <td><a href="/pen/@item.PenId">@item.HoldingPen.PenName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>