@{
    ViewData["Title"] = "Dashboard";
    User CurrentUser = ViewBag.CurrentUser;
}

<h2>Welcome @CurrentUser.FirstName</h2>

<div class="calendar">
    <table>
        <thead>
            <tr>
                <th><h5 class="col-sm text-center">Sunday</h5></th>
                <th><h5 class="col-sm text-center">Monday</h5></th>
                <th><h5 class="col-sm text-center">Tuesday</h5></th>
                <th><h5 class="col-sm text-center">Wednesday</h5></th>
                <th><h5 class="col-sm text-center">Thursday</h5></th>
                <th><h5 class="col-sm text-center">Friday</h5></th>
                <th><h5 class="col-sm text-center">Saturday</h5></th>
            </tr>
        </thead>
    </table>
</div>

<h4>Managing Pens</h4>
<a class="pen-button" href="pen/new"><button>Add New Pen</button></a>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><h5>Pens</h5></th>
            <th scope="col"><h5>Notifications</h5></th>
            <th scope="col"><h5>Actions</h5></th>
            <th scope="col"><h5>Team Member Count</h5></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pen item in ViewBag.AllUserPens)
        {
            @if (CurrentUser.UserId == item.Shepherd.UserId)
            {
                <tr>
                    <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                    <td>Working On</td>
                    <td>
                        @if (ViewBag.CurrentUser.UserId == item.Shepherd.UserId)
                        {
                            <form action="/pen/@item.PenId/delete" method="post">
                                <button>Delete</button>
                            </form>
                        }
                        else if (item.TeamMembers.Any(p => p.UserId == CurrentUser.UserId))
                        {
                            <form action="/pen/@item.PenId/leave" method="post">
                                <button>Leave</button>
                            </form>
                        }
                        else
                        {
                            <form action="/pen/@item.PenId/join" method="post">
                                <button>Join</button>
                            </form>
                        }
                    </td>
                    <td>@item.TeamMembers.Count</td>
                </tr>
            }
        }
    </tbody>
</table>

<h4>Pens</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><h5>Pens</h5></th>
            <th scope="col"><h5>Team Member Count</h5></th>
            <th scope="col"><h5>Actions</h5></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pen item in ViewBag.AllUserPens)
        {
            @if (item.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
            {
                <tr>
                    <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                    <td>@item.TeamMembers.Count</td>
                    <td>
                        @if (ViewBag.CurrentUser.UserId == item.Shepherd.UserId)
                        {
                            <form action="/pen/@item.PenId/delete" method="post">
                                <button>Delete</button>
                            </form>
                        }
                        else if (item.TeamMembers.Any(p => p.UserId == CurrentUser.UserId))
                        {
                            <form action="/pen/@item.PenId/leave" method="post">
                                <button>Leave</button>
                            </form>
                        }
                        else
                        {
                            <form action="/pen/@item.PenId/join" method="post">
                                <button>Join</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h4>Tickets</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><h5>Tickets</h5></th>
            <th scope="col"><h5>Pen</h5></th>
            <th scope="col"><h5>Group Count</h5></th>
            <th scope="col"><h5>Actions</h5></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ticket item in ViewBag.AllUserTickets)
        {
            @if (item.GroupMembers.Any(u => u.UserId == CurrentUser.UserId))
            {
                <tr>
                    <td><a href="/ticket/@item.TicketId">@item.TicketTitle</a></td>
                    <td><a href="/pen/@item.PenId">@item.HoldingPen.PenName</a></td>
                    <td>@item.GroupMembers.Count</td>
                    <td>
                        @if (ViewBag.CurrentUser.UserId == item.Submitter.UserId)
                        {
                            <form action="/ticket/@item.TicketId/delete" method="post">
                                <button>Delete</button>
                            </form>
                        }
                        else if (item.GroupMembers.Any(p => p.UserId == CurrentUser.UserId))
                        {
                            <form action="/ticket/@item.TicketId/leave" method="post">
                                <button>Leave</button>
                            </form>
                        }
                        else
                        {
                            <form action="/ticket/@item.TicketId/join" method="post">
                                <button>Join</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>