@{
    ViewData["Title"] = "Ticket";
    Ticket item = ViewBag.CurrentTicket;
}

@model Ticket

<h2>@ViewBag.CurrentTicket.TicketTitle</h2>
@* <div>
    <form action="/ticket/@item.TicketId/delete" method="post">
        <button>Delete</button>
    </form>
</div> *@

<h3>Ticket Creator:</h3> <p>@ViewBag.CurrentTicket.UserId</p>
<h3>Description:</h3>
<p>@ViewBag.CurrentTicket.TicketDescription</p>
<p>@ViewBag.CurrentTicket.Priority</p>
<p>@ViewBag.CurrentTicket.Status</p>
<p>@ViewBag.CurrentTicket.Type</p>