@model Pen

@{
    ViewData["Title"] = "Pen";
    User CurrentUser = ViewBag.CurrentUser;
}

<h2>@Model.PenName</h2>

@if (CurrentUser.UserId == Model.Shepherd.UserId)
{
    <form action="/pen/@Model.PenId/delete" method="post">
        <button>Delete</button>
    </form>
    <a href="/pen/@Model.PenId/edit">
        <button>Edit</button>
    </a>
}
@if (Model.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
{
    <form action="/pen/@Model.PenId/leave" method="post">
        <button>Leave</button>
    </form>
}
else
{
    <form action="/pen/@Model.PenId/join" method="post">
        <button>Join</button>
    </form>
}

<h3>Shepherd:</h3> <p>@Model.Shepherd.FirstName</p>

<h3>Team Members:</h3>
@foreach (var item in Model.TeamMembers)
{
    <p>@item.User.FirstName</p>
}

<h3>Description:</h3>
<p>@Model.PenDescription</p>

<h3>Tickets:</h3>
<a href="/pen/@Model.PenId/ticket/new"><button>Add Ticket</button></a>
@foreach (var item in Model.Tickets)
{
    <p><a href="/ticket/@item.TicketId">@item.TicketTitle</a></p>
}